Dear Participant,
Please find below the Project for Statistical Learning course. This is an individual assignment. Kindly submit it before it's deadline.
The Titan Insurance Company has just installed a new incentive payment scheme for its lift policy sales force. It wants to have an early view of the success or failure of the new scheme. Indications are that the sales force is selling more policies, but sales always vary in an unpredictable pattern from month to month and it is not clear that the scheme has made a significant difference.
Life Insurance companies typically measure the monthly output of a salesperson as the total sum assured for the policies sold by that person during the month. For example, suppose salesperson X has, in the month, sold seven policies for which the sums assured are £1000, £2500, £3000, £5000, £10000, £35000. X's output for the month is the total of these sums assured, £61,500. Titan's new scheme is that the sales force receives low regular salaries but are paid large bonuses related to their output (i.e. to the total sum assured of policies sold by them). The scheme is expensive for the company, but they are looking for sales increases which more than compensate. The agreement with the sales force is that if the scheme does not at least break even for the company, it will be abandoned after six months.
The scheme has now been in operation for four months. It has settled down after fluctuations in the first two months due to the changeover.
To test the effectiveness of the scheme, Titan have taken a random sample of 30 salespeople measured their output in the penultimate month prior to changeover and then measured it in the fourth month after the changeover (they have deliberately chosen months not too close to the changeover). The outputs of the salespeople are shown in Table 1

In [38]:
import numpy as np
import pandas as pd
df = pd.read_csv("data.csv")
df.head()
#df.shape

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

# Questions :

1. Find the mean of old scheme and new scheme column.

In [39]:
# ANS:
df[["Old Scheme (in thousands)","New Scheme (in thousands)"]].mean()

Old Scheme (in thousands)    68.033333
New Scheme (in thousands)    72.033333
dtype: float64

2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?

In [46]:
Old_Schema = df['Old Scheme (in thousands)']
New_Schema = df['New Scheme (in thousands)']
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro, wilcoxon
from statsmodels.stats.power import ttest_power
#t_statistic, p_value = ttest_ind(Old_Schema, New_Schema)
#print(t_statistic, p_value)
t_statistic, p_value = ttest_1samp(New_Schema - Old_Schema, 0)
print(t_statistic, p_value)

1.5559143823544377 0.13057553961337662

Null hypothesis is : between old schema and new schema there is no significat diff.

In this case as p value is 0.130 which is higher than 0.05 value , Null hypthesis is accepted . Hence there is no significate output raised .

3. What conclusion does the test (p-value) lead to?

ANS:
p-value : 0.13 indicates weak evidence against the null hypothesis, so we fail to reject the null hypothesis

4. Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:
        a) The probability of a type 1 error?

In [24]:
#ANS:
print('The probability of a type 1 error: 0.05 which is 5% significance level ')

The probability of a type 1 error: 0.05 which is 5% significance level

b) What is the p- value of the hypothesis test if we test for a difference of $5000?

In [41]:
df1 = df['New Scheme (in thousands)']+5
#df1.mean()
#t_statistic, p_value = ttest_ind(Old_Schema,df1)
#print('P Value : ' , p_value)
t_statistic, p_value = ttest_1samp(df1 - Old_Schema, 0)
#z_statistic, p_value = wilcoxon(df1 - Old_Schema)
print('P Value : ', p_value)

P Value :  0.0015212146316676064

c) Power of the test ?

In [48]:
(np.mean(df1) - np.mean(Old_Schema)) / np.sqrt(((30-1)*np.var(df1)+(30-1)*np.var(Old_Schema)) / 60-2)
print(ttest_power(0.417, nobs=60, alpha=0.05, alternative='two-sided'))

0.8882166744579286